/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 19, 2021, 8:51:21 PM
    Author     : Afiq,Azim,Imman
*/
@import url('https://fonts.googleapis.com/css?family=Montserrat');
body, h1,h2,h3,h4,h5,h6 ,input,textarea,select{
    
    font-family: "Montserrat", sans-serif
}
body,html{
    min-height: 100%;
}
h1{
    margin-top: 20px;
    margin-bottom: -1px;
}
* {
  box-sizing: border-box;
}

a{
  background-color: black;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 40px;
}
a::before{
  background-color: black;  
}
a:hover{
  background-color: #001133;  
}
body {
  
  color: #fff;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: none;
  margin: 0;
}
.note{
    color:#ec4a27 ;
}

.container{
  text-align: center;
  margin-top: 25px;
  margin-bottom: 35px;
}

.containerleft{
  text-align: left;
  padding: 70px;
  margin-top: 25px;
  margin-bottom: 35px;
}

.containerright{
  text-align: right;
  padding: 100px;
  margin-top: 25px;
  margin-bottom: 35px;
}

.background1{
    height: 790px;
    width: 1350px;
    background-image: url("Image/caliphbuskers kanan.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.background2{
    height: 790px;
    width: 1350px;
    
    background-image: url("Image/concert plan.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.background3{
    background-color: #000000;
    height: 100px;
    width: 100%;
}
.arrow{
    margin-top: -10px;
    margin-left: 213px;
    opacity: 25%;
}
.noteGrey{
    margin-top: 25px;
    margin-left: 185px;
    color: darkgray;
}

.divCenter{
    text-align: center;

}
            
.divRight{
    text-align: right;
    
}

.divLeft{
    text-align: left;
}

div{
    width: 100%;
    position: relative;                
}

.input1{
    padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:40%
    
}
select{
    padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:40%
}

 .book{
    background-color: #002266;
    color: white;
 }
            
.book:hover{
    background-color: #001133;
}
            
.book::before{
    background-color: #002266;
}

.span{
        display: flex;
        margin-top: 10px;
}
.icon{
        width: 80px;
        height: 80px;
        padding: 5px;
        margin-left: 30px;
}
        
.picture1{
        width: 450px;
        height: 450px;
        padding: 15px;
}
            
.picture2{
        width: 150px;
        height: 100px;
        padding: 15px;
        margin-left: -20px;
} 
            
.icon2{
        width: 85px;
        height: 85px;
        padding:36px;
        margin-left: -35px;
        margin-right: -65px;
}
            
.divLeft{
    margin-top: 40px;
        padding: 70px;
}
            
.divLeft2{
        margin-left: 70px;
}
            
.navigation{
        margin-right: 10px;               
}

.input2{
    background-color: #006600;
    color: white;
    padding: 12px 23px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 40px;
    border:0px;
}
.input2::before{
  background-color: #006600;  
}
.input2:hover{
  background-color: #004d00;  
}

.input3{
    background-color: #990000;
    color: white;
    padding: 12px 23px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 40px;
    border:0px;
}
.input3::before{
  background-color: #990000;  
}
.input3:hover{
  background-color: #660000;  
}
