/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 19, 2021, 8:51:21 PM
    Author     : apitz
*/
@import url('https://fonts.googleapis.com/css?family=Montserrat');
body, h1,h2,h3,h4,h5,h6 {
    
    font-family: "Montserrat", sans-serif
}
body,html{
    min-height: 100%;
}
h1{
    margin-bottom: -1px;
}
* {
  box-sizing: border-box;
}

a{
  background-color:  #7051a5  ;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
a::before{
  background-color:  #7051a5  ;  
}
a:hover{
  background-color: #382952  ;  
}
body {
  
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.note{
    color:#ec4a27 ;
}

.container{
  text-align: center;
  margin-top: 25px;
  margin-bottom: 35px;
}

.containerleft{
  text-align: left;
  padding: 100px;
  margin-top: 25px;
  margin-bottom: 35px;
}

.containerright{
  text-align: right;
  padding: 100px;
  margin-top: 25px;
  margin-bottom: 35px;
}

.background1{
    height: 100%;
    width: 100%;
    background-image: url("Image/caliphbuskers kanan.png");
    background-size: cover;
}
.background2{
    height: 100%;
    width: 100%;
    background-image: url("Image/concert plan.png");
    background-size: cover;
}
.background3{
    background-color: #000000;
    height: 100px;
    width: 100%;
}
.noteGrey{
    color: gray;
}